@font-face {
  font-family: 'IranYekan';
  src: url('/fonts/Qs_Iranyekan.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'IranYekan';
  src: url('/fonts/Qs_Iranyekan_bold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'IranYekan';
  src: url('/fonts/Qs_Iranyekan_light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'IranYekan';
  src: url('/fonts/Qs_Iranyekan_extrabold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

.IranYekan {
  font-family: IranYekan !important;
}

html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
  // direction: rtl !important;
}

body {
  font-family: IranYekan !important;
  font-size: smaller;
  letter-spacing: -0.3px;
}

#nprogress {
  pointer-events: none;
}
// @import url('../../assets/scss/quasar-variables.scss');

.v-card {
  box-shadow: none;
}

// Change This in Dark Mode

.swiper-pagination-bullet {
  background: dark !important;
}

html.dark {
  .swiper-pagination-bullet {
    background: white !important;
  }
}
.page-container {
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 640px) {
  .page-container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .page-container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .page-container {
    max-width: 1024px;
  }
}

@media (min-width: 1100px) {
  .page-container {
    max-width: 1100px;
  }
}

@media (min-width: 1280px) {
  .page-container {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .page-container {
    max-width: 1536px;
  }
}
